.buttonmain1{
    background-color: aquamarine;
    width: 170px;
    height: 60px; 
    border: 0px;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.8s;
    padding: 0cm;
    margin: 0px;

}
.buttonmain2:hover{
    cursor: pointer;
    background-color: dimgray;
    color: azure;
    padding: 0px;
    margin: 0px;


}
.navmain {
    background-color: brown;

}
.activeindex{
    background-color: chocolate;
    color: bisque;
    cursor: grab;
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkblue;
}